.list-group
  .container
    - @businesses.each do |business|
      .row.card.card-outline-info          
        .col-md-6
          %h5
            = link_to "#{business.name}", business_path(business)
          %small.text-muted 
            = business.category.name
        .col-md-6
          %h5 
            = review_star_string(business.rating)
          %span.tag.tag-default= business.review_count
          reviews
