= form_for @business do |f|
  %div(class="form-group row #{container_error_class(@business, :name)}")
    .col-md-4
      = f.text_field :name, { placeholder: "Business Name", class: "form-control #{input_error_class(@business, :name)}" }
      .form-control-feedback= input_error_message(@business, :name)

  %div(class="form-group row #{container_error_class(@business, :category)}")
    .col-md-4
      = f.label :category_id, "Category"
      = f.select :category_id, options_for_category_select(@business.category), { include_blank: true }, { class: 'form-control' }
      .form-control-feedback= input_error_message(@business, :category)
  %button.btn.btn-primary{:type => "submit"} Save
