= form_tag(login_path, method: :post) do 
  .form-container

    %div(class="form-group row")
      = label_tag(:email, 'Email', class: 'col-xs-2 col-form-label')
      .col-xs-4
        = text_field_tag(:email, params[:email], class: 'form-control', placeholder: "user@gmail.com" )

    %div(class="form-group row")
      = label_tag :password, 'Password', class: 'col-xs-2 col-form-label'
      .col-xs-4
        = password_field_tag :password, params[:password], class: 'form-control', placeholder: "hard-to-guess-word" 

    .form-group.row
      %button.btn.btn-info{:type => "submit"} Login
