.container
  .row
    %h3= @user.full_name
    %span.tag.tag-default 
      = pluralize(@user.review_count, 'review')
  - @user.reviews.each do |review|
    .row
      .card.card-outline-secondary
        %h5= link_to "#{review.business.name}", business_path(review.business)
        %h6 
          = review_star_string(review.rating)
          %small.text-muted 
            = short_date(review.created_at)
        %p= review.description