%ul.nav.row.top-nav
  %li.nav-item.col-md-8
    %h1
      = link_to "Yelp", root_path, class: 'nav-link' 
  %li.nav-item.col-md-4
    - if current_user
      = link_to "#{current_user.first_name}", user_path(current_user), class: 'nav-link btn btn-secondary'
      = link_to 'Log Out', logout_path, class: 'nav-link btn btn-secondary', method: :delete
    - else
      = link_to 'Sign Up', register_path, class: 'nav-link btn btn-secondary'
      = link_to 'Log In', login_path, class: 'nav-link btn btn-secondary'  

%ul.nav.nav-tabs.bottom-nav
  %li.nav-item
    = link_to 'Recent Reviews', root_path, class: "nav-link #{activate_link?(root_path)}"
  %li.nav-item
    = link_to 'All Businesses', businesses_path, class: "nav-link #{activate_link?(businesses_path)}"
  - if current_user
    - if business_page?(@business) and not @business.reviewed_by?(current_user)
      %li.nav-item
        = link_to 'Write a Review', new_business_review_path(@business), class: "nav-link"
    %li.nav-item
      = link_to 'Add Business', new_business_path, class: "nav-link #{activate_link?(new_business_path)}"
    %li.nav-item
      = link_to 'Add Business Category', new_category_path, class: "nav-link #{activate_link?(new_category_path)}"