%ul.nav.row.top-nav
  %li.nav-item.col-md-4
    %h1
      = link_to "Yelp", root_path, class: 'nav-link' 
  %li.nav-item.col-md-4
    .input-group
      %span#basic-addon1.input-group-addon Find
      %input.form-control{placeholder: "tacos, cheap dinner, Max's", type: "text", name: "search"}
      %span#basic-addon2.input-group-addon 
        = link_to 'Search', '#', class: 'nav-link'

  %li.nav-item.col-md-4
    - if current_user
      = link_to "#{current_user.first_name}", '#', class: 'nav-link btn btn-secondary disabled'
      = link_to 'Log Out', logout_path, class: 'nav-link btn btn-secondary', method: :delete
    - else
      = link_to 'Sign Up', register_path, class: 'nav-link btn btn-secondary'
      = link_to 'Log In', login_path, class: 'nav-link btn btn-secondary'  

%ul.nav.nav-tabs.bottom-nav
  %li.nav-item
    = link_to 'Home', root_path, class: "nav-link #{activate_link?(root_path)}"
  %li.nav-item
    = link_to 'All Businesses', businesses_path, class: "nav-link #{activate_link?(businesses_path)}"
  - if @business && current_page?(business_path(@business))
    %li.nav-item
      = link_to 'Write a Review', '#', class: "nav-link"
  %li.nav-item
    = link_to 'Add Business', new_business_path, class: "nav-link #{activate_link?(new_business_path)}"
  %li.nav-item
    = link_to 'Add Business Category', new_category_path, class: "nav-link #{activate_link?(new_category_path)}"