= form_for @category do |f|
  %div(class="form-group row #{container_error_class(@category, :name)}")
    .col-md-4
      = f.text_field :name, {placeholder: "Category name", class: "form-control #{input_error_class(@category, :name)}"}
      .form-control-feedback= input_error_message(@category, :name)

  =f.submit "Save", class: 'btn btn-primary'
