= form_for [@business, @review] do |f|
  %div(class="form-group row")
    = f.label :business, class: 'col-xs-1 col-form-label'
    .col-xs-3
      = f.text_field :business , value: "#{@business.name}", disabled: 'true', class: 'form-control'

  %div(class="form-group row #{container_error_class(@review, :rating)}")
    .col-md-4
      = f.label :rating
      = f.select :rating, options_for_rating_select(@review.rating), { include_blank: 'select rating' }, { class: 'form-control' }
      .form-control-feedback= input_error_message(@review, :rating)
  %div(class="form-group row #{container_error_class(@review, :description)}")
    .col-md-4
      = f.label :description, 'Enter review comments'
      = f.text_area :description, class: 'form-control', rows: 3
      .form-control-feedback= input_error_message(@review, :description)
  = f.submit "Save", class: 'btn btn-primary'
